.banner {
  height: 200px;
  overflow: hidden;

  i {
    position: absolute;
    z-index: 100;
  }

  img {
    min-height: 200px;
  }
}

.container__avatar {
  position: relative;

  .avatar {
    height: 4rem;
    width: 4rem;
    border-radius: 30%;
    position: absolute;
    bottom: 0px;
    left: 10px;
    overflow: hidden;
  }
}
